<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー登録</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<div class="login-container">
		<h1>ユーザー登録</h1>
		<form th:action="@{/register}" th:object="${user}" method="post">
			<div class="input-field">
				<label for="username">ユーザー名:</label>
				<input type="text" id="username" th:field="*{username}" required /><br />
			</div>
			<div class="input-field">
				<label for="password">パスワード:</label>
				<input type="password" id="password" th:field="*{password}" required /><br />
			</div>
			<div class="submit-field">
				<button type="submit">登録</button>
			</div>
		</form>
		<!-- ログインページへのリンク -->
		<form th:action="@{/login}" method="get">
		    <div class="submit-field">
		        <button type="submit">戻る</button>
		    </div>
		</form>
	</div>
</body>

</html>